html, body, #root {
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: white;
}

.app {
    display: flex;
    justify-content: center;
    height: 100%;
}

.userPfp {
    border-radius: 1rem;
    width: 2.5rem;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
