.postContainer {
    display: flex;
    flex-flow: row;
    border-bottom: 0.1rem solid #2a2e31;
    gap: 1rem;
    padding: 0.8rem;
}

.optionsButton {
    position: relative;
    float: right;
    right: 0.2rem;
    font-weight: bold;
    filter: brightness(0.5);
}

.pfpPanel {
    user-select: none;
}

.posterName {
    font-weight: bold;
}

.verifiedImage {
    transform: scale(0.9);
    vertical-align: middle;
    user-select: none;
}

.posterHandleTime {
    filter: brightness(0.5);
}

.postContent {
    width: 29.7rem;
}

.contentText {
    margin-top: 0.2rem;
}

.contentImage {
    margin-top: 0.7rem;
    border-radius: 1rem;
    border: 0.1rem solid #2a2e31;
    max-width: 29.7rem;
    height: auto;
    user-select: none;
}

.postStats {
    display: flex;
    flex-flow: row;
    margin-top: 0.4rem;
    justify-content: space-between;
    user-select: none;
}

.postStatButton {
    font-size: 0.9rem;
    color: #6b7175;
}

.postStatButton img {
    transform: scale(0.8);
    vertical-align: middle;
}

.commentsButton:hover, .viewsButton:hover, .shareButton:hover, .bookmarkButton:hover {
    filter: sepia(200%) hue-rotate(180deg) saturate(400%);
}

.retweetsButton:hover {
    filter: sepia(300%) hue-rotate(90deg) saturate(400%);
}

.likeButton:hover {
    filter: sepia(200%) hue-rotate(270deg) saturate(400%);
}

.shareBookmark {
    display: flex;
    flex-flow: row;
    gap: 0.8rem;
}
