.postContainer {
    display: flex;
    flex-flow: row;
    border-bottom: 0.1rem solid #2a2e31;
    gap: 1rem;
    padding: 0.8rem;
}

.posterName {
    font-weight: bold;
}

.verifiedImage {
    transform: scale(0.9);
    vertical-align: middle;
}

.posterHandleTime {
    filter: brightness(0.5);
}

.postContent {
    width: 29.7rem;
}

.contentText {
    margin-top: 0.2rem;
}

.contentImage {
    margin-top: 0.7rem;
    border-radius: 1rem;
    border: 0.1rem solid #2a2e31;
    max-width: 29.7rem;
    height: auto;
}

.postStats {
    display: flex;
    flex-flow: row;
    margin-top: 0.4rem;
    justify-content: space-between;
}

.postStatButton {
    font-size: 0.9rem;
    color: #6b7175;
}

.postStatButton img {
    transform: scale(0.8);
    vertical-align: middle;
}

.shareBookmark {
    display: flex;
    flex-flow: row;
    gap: 0.8rem;
}
